<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
	<context-param>
		<param-name>countstudent</param-name>
		<param-value></param-value>
	</context-param>
  <servlet>
  	<servlet-name>FacultyLoginController</servlet-name>
  	<display-name>FacultyLoginController</display-name>
  	<description></description>
  	<servlet-class>com.controller.faculty.FacultyLoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddStudentController</servlet-name>
  	<display-name>AddStudentController</display-name>
  	<description></description>
  	<servlet-class>com.controller.student.AddStudentController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentListController</servlet-name>
  	<display-name>StudentListController</display-name>
  	<description></description>
  	<servlet-class>com.controller.student.StudentListController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentDeleteController</servlet-name>
  	<display-name>StudentDeleteController</display-name>
  	<description></description>
  	<servlet-class>com.controller.student.StudentDeleteController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentEditController</servlet-name>
  	<display-name>StudentEditController</display-name>
  	<description></description>
  	<servlet-class>com.controller.student.StudentEditController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentUpdateController</servlet-name>
  	<display-name>StudentUpdateController</display-name>
  	<description></description>
  	<servlet-class>com.controller.student.StudentUpdateController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FacultyLogoutController</servlet-name>
  	<display-name>FacultyLogoutController</display-name>
  	<description></description>
  	<servlet-class>com.controller.faculty.FacultyLogoutController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddRemarkController</servlet-name>
  	<display-name>AddRemarkController</display-name>
  	<description></description>
  	<servlet-class>com.controller.remark.AddRemarkController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemarkListController</servlet-name>
  	<display-name>RemarkListController</display-name>
  	<description></description>
  	<servlet-class>com.controller.remark.RemarkListController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReportListController</servlet-name>
  	<display-name>ReportListController</display-name>
  	<description></description>
  	<servlet-class>com.controller.remark.ReportListController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReportController</servlet-name>
  	<display-name>ReportController</display-name>
  	<description></description>
  	<servlet-class>com.controller.remark.ReportController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForgotPasswordController</servlet-name>
  	<display-name>ForgotPasswordController</display-name>
  	<description></description>
  	<servlet-class>com.controller.faculty.ForgotPasswordController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckOtpController</servlet-name>
  	<display-name>CheckOtpController</display-name>
  	<description></description>
  	<servlet-class>com.controller.faculty.CheckOtpController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ResetPasswordController</servlet-name>
  	<display-name>ResetPasswordController</display-name>
  	<description></description>
  	<servlet-class>com.controller.faculty.ResetPasswordController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemarkDeleteController</servlet-name>
  	<display-name>RemarkDeleteController</display-name>
  	<description></description>
  	<servlet-class>com.controller.remark.RemarkDeleteController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>FacultyLoginController</servlet-name>
  	<url-pattern>/FacultyLoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddStudentController</servlet-name>
  	<url-pattern>/AddStudentController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentListController</servlet-name>
  	<url-pattern>/StudentListController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentDeleteController</servlet-name>
  	<url-pattern>/StudentDeleteController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentEditController</servlet-name>
  	<url-pattern>/StudentEditController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentUpdateController</servlet-name>
  	<url-pattern>/StudentUpdateController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FacultyLogoutController</servlet-name>
  	<url-pattern>/FacultyLogoutController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddRemarkController</servlet-name>
  	<url-pattern>/AddRemarkController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemarkListController</servlet-name>
  	<url-pattern>/RemarkListController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReportListController</servlet-name>
  	<url-pattern>/ReportListController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReportController</servlet-name>
  	<url-pattern>/ReportController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForgotPasswordController</servlet-name>
  	<url-pattern>/ForgotPasswordController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckOtpController</servlet-name>
  	<url-pattern>/CheckOtpController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ResetPasswordController</servlet-name>
  	<url-pattern>/ResetPasswordController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemarkDeleteController</servlet-name>
  	<url-pattern>/RemarkDeleteController</url-pattern>
  </servlet-mapping>
</web-app>
